<% include ../partials/header %>
  <h1>Homework List</h1>
  <table>
    <thead>

      <tr>
        <th>Name</th>
        <th>Time Limit</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% homeworks.forEach(function(homework){ %>
        <tr>
          <td><%= homework.name %></td>
          <td><%= homework.timeLimit %></td>
          <td><%= homework.status %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

<% include ../partials/footer %>
