<% include ../partials/header %>
  <h1>Homework List</h1>
  <table>
    <thead>

      <tr>
        <th>Name</th>
        <th>Time Limit</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- Homework part -->
      <tr>
        <td>homework1</td>
        <td>1/8/2018</td>
        <td class="working">Working...</td>
      </tr>

      <tr>
        <td>homework2</td>
        <td>12/9/2018</td>
        <td class="finished">Completed</td>
      </tr>

      <tr>
        <td>homework3</td>
        <td>28/7/2018</td>
        <td class="failed">Failed</td>
      </tr>
    </tbody>
  </table>

<% include ../partials/footer %>
