<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomeworkList</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
    <link rel="stylesheet" href="stylesheet/main.css">
  </head>
  <body>
    <div class="ui secondary pointing menu">
      <a class="item" href="/homeworks">Homeworks</a>
      <a class="item" href="/stats">Stats</a>
    </div>
