.delete-form{
  display:inline;
}

.working{
  color:#fbbd08;
}

.completed{
  color:#21ba45;
}

.failed{
  color:#db2828;
}

.canvas-container{
  position:relative;
  margin:auto;
  height: 20vh;
  width: 40vw;
}

.working-part{
  border: 10px solid #fbbd08;
}

.completed-part{
  border: 10px solid #21ba45;
}

.failed-part{
  border: 10px solid #db2828;
}

.ui.grid.container.working-part,.ui.grid.container.completed-part,.ui.grid.container.failed-part{
  margin: 5% 0;
  background: white;
}

body{
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#progress-chart,#success-chart{
  margin-bottom: 50%;
}
