.delete-form{
  display:inline;
}

.working{
  color:#fbbd08;
}

.completed{
  color:#21ba45;
}

.failed{
  color:#db2828;
}

.canvas-container{
  position:relative;
  margin:auto;
  height: 20vh;
  width: 40vw;
}

.working-part{
  border: 10px solid #fbbd08;
}


#progress-chart,#success-chart{
  margin-bottom: 50%;
}
