<% include ../partials/header %>
<!-- Status Count & Prepare Data for Chart -->
<%
  var workingCount   = 0,
      completedCount = 0,
      failedCount    = 0;
  homeworks.forEach(function(homework){
    if(homework.status === "working") workingCount++;
    if(homework.status === "completed") completedCount++;
    if(homework.status === "failed") failedCount++;
  });
  var countData = "["+workingCount+","+completedCount+","+failedCount+"]";
%>

  <div class="ui container">
      <h1>Progress Chart</h1>
      <div class="canvas-container">
        <canvas id="chart"></canvas>
      </div>
  </div>

  <script type="text/javascript">
    var canvas = document.querySelector("#chart");

    var data = {
                  labels:["working","completed","failed"],
                  datasets:[{
                              label:"# of Homeworks",
                              data:<%= countData %>,
                              backgroundColor:[
                                                "rgba(251, 189, 8, 1)",
                                                "rgba(33, 186, 69, 1)",
                                                "rgba(219, 40, 40, 1)"
                                              ]
                           }]
               };

    var chart = new Chart(canvas,{
                                    type:"doughnut",
                                    data:data
                                 });
  </script>
<% include ../partials/footer %>
